page-home {
    ion-content{
        background-color: #E0FFFF !important;
        p{
            font-weight: bold;
            text-align: center;
            font-size: 2em;
        }
        .botao{
            margin: auto;
            display:block;
        }
        .imagem{
            margin: auto;
            display:block;
        }
    }
}
